.calendar-card {
  width: 90%;
  margin-inline: auto;
}

.container {
  max-width: 750px;
}

.logo {
  padding-left: 10px;
  position: fixed;
}

.logo-img {
  height: 45px;
  width: 180px;
  border-radius: 10px;
}

.bg-cabecalho {
  background-color: black;
  height: 100px;
  padding: 15px 2% 0 0;
}

.botao-voltar {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0 0;
}

.calendario {
  margin: auto;
  margin-top: -30px;
  padding: auto;
  position: relative;
  width: 75%;
  height: fit-content;
  background-color: white;
  border: 1px solid lightsteelblue;
  border-radius: 15px
}
