<div class="bg-cabecalho">
  <div class="logo">
    <img class="logo-img" src="../../../assets/labella.gif" alt="logo" />
  </div>
  <div class="botao-voltar">
    <button mat-raised-button [routerLink]="['/home']">
      Voltar
    </button>
  </div>
</div>
<div class="container">
  <div class="calendario">
    <mat-card class="calendar-card">
      <mat-calendar
        [selected]="selectedDate"
        [minDate]="minDate"
        [maxDate]="maxDate"
        (selectedChange)="onSelect($event)"
      ></mat-calendar>
    </mat-card>
  </div>
</div>
