.cardapio-card {
  background-color: ghostwhite;
  width: 200px;
  max-width: 400px;
  margin-bottom: 8px;
  border: 1px solid lightsteelblue;
}

.cardapio-list {
  padding-left: 15px;
}

.logo {
  padding-left: 10px;
  position: fixed;
}

.logo-img {
  height: 45px;
  width: 180px;
  border-radius: 10px;
}

.bg-cabecalho {
  background-color: black;
  height: 100px;
  padding: 15px 2% 0 0;
}

.botao-voltar {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0 0;
}

.conteudo {
  /* display: flex; */
  flex-direction: column;
  margin-top: auto;
  align-items: center;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #005691!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #005691;
}

/* responsivo */
@media screen and (max-width: 992px) {
  .cardapio-card {
    background-color: ghostwhite;
    width: 150px;
    max-width: 400px;
    border: 1px solid lightsteelblue;
  }
}

@media (max-width:465px) {
  .cardBox{
    -webkit-box-flex: 0.4;
    -webkit-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
    height: 360px !important;
  }

  .cardBox img {
    width: 100% !important;
    max-height: 188px;
    border-radius: 6px;
    padding-bottom: 15px;
  }

  .title {
    text-align: center;

  }

  .cntAll .presentation .description {
    padding-left: 5px !important;
    text-align: center;
  }

  .offer{
    margin-bottom: 25px !important;
  }

  .cardBox .descriptionProduct .add {
    display: none;
  }

  .cardBox .descriptionProduct .add .addButon{
    display: none;
  }
}

@media (max-width:319px) {

  .offer{
    margin-bottom: 10px !important;
  }

  .cardBox .descriptionProduct .add {
    display: flex;
  }

  .cardBox .descriptionProduct .add .addButon{
    display: flex;
  }
}
