<div class="bg-cabecalho">
  <div class="logo">
    <img class="logo-img" src="../../../assets/labella.gif" alt="logo" />
  </div>
  <div class="botao-voltar">
    <button mat-raised-button [routerLink]="['../calendario']">Voltar</button>
  </div>
</div>
<div class="container">
  <div *ngIf="diaCardapio">
    <form
      class="form-group"
      [formGroup]="diaCardapio"
      (ngSubmit)="toggle($event)"
    >
      <mat-grid-list cols="5" rowHeight="1:2" class="conteudo">
        <div
          formArrayName="items"
          *ngFor="let dia of dataSemana; let i = index"
        >
          <div [formGroupName]="i">
            <mat-grid-tile>
              <mat-card class="cardapio-card">
                <mat-card-title-group>
                  <mat-card-title
                    >{{ dia | date: "EEEE":"":"pt-BR" | titlecase }}
                  </mat-card-title>
                  <mat-card-subtitle>{{
                    dia | date: "dd/MM/yyyy"
                  }}</mat-card-subtitle>
                </mat-card-title-group>
                <input [value]="dia" type="hidden" formControlName="dia" />
                <mat-card-content>
                  <hr />
                  <mat-card-subtitle>Cardápio</mat-card-subtitle>
                  <ul class="cardapio-list">
                    <li>Arroz</li>
                    <li>Feijão</li>
                    <li>Macarrão</li>
                    <li>Carne</li>
                    <li>Sobremesa</li>
                  </ul>
                  <hr />
                  <section class="cardapio-section">
                    <mat-checkbox
                      formControlName="checked"
                      [(indeterminate)]="indeterminate"
                      [checked]="true"
                      (change)="toggle($event)"
                    >
                      Vou querer
                    </mat-checkbox>
                  </section>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </div>
        </div>
      </mat-grid-list>
    </form>
  </div>
</div>
