p {
  margin: 10px;
  font-family: 'Robboto', sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 5px;
}

.logo {
  padding-left: 10px;
  position: fixed;
}

.logo-img {
  height: 45px;
  width: 180px;
  border-radius: 10px;
}


.bg-cabecalho {
  background-color: black;
  height: 100px;
  padding: 15px 2% 0 0;
}

.botao-logout {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0 0;
}

.cont-mensagem {
  margin: auto;
  margin-top: -30px;
  position: relative;
  width: 75%;
  height: 250px;
  background-color: white;
  border: 1px solid lightsteelblue;
  border-radius: 15px
}

.texto-mensagem {
  padding: 10px 0;
}

.calendario {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

.seta {
  color: lightsteelblue;
  height: 50px;
  width: 40px;
  transform: rotate(90deg);
}
