<div class="bg-cabecalho">
  <div class="logo">
    <img class="logo-img" src="../../../assets/labella.gif" alt="logo">
  </div>
  <div class="botao-logout">
    <a mat-raised-button (click)="logOut()">Log Out</a>
  </div>
</div>
<div class="container">
  <div class="cont-mensagem">
    <div class="texto-mensagem">
      <h2>Recados</h2>
      <p>Evite disperdícios</p>
      <p>Mensagem motivadora \o/</p>
    </div>
  </div>
  <div class="calendario">
    <p style="margin: 0; font-size: 12px; color: #555;">Acessar calendário</p>
    <a [routerLink]="['./calendario']">
      <img class="seta" src="../../../assets/seta.png">
    </a>
  </div>
</div>
