<div class="container" style="max-width: 550px">
  <h2 class="text-center mb-5">Refeitório Labellamafia</h2>

  <!-- <div *ngIf="isLoggedin === false"> -->
  <div>
    <div>
      <!-- <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button> -->
      <button type="button" [routerLink]="['/home']" class="btn btn-danger">Home</button>
    </div>
  </div>

  <!-- <div *ngIf="isLoggedin === true">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
    </div>

  </div> -->
</div>
