<div class="text-center mt-5">
  <h2>This page is not available</h2>
  <p>
      The link you have accessed may be broken or
      the page may have been removed.
  </p>
  <button class="btn btn-light" [routerLink]="['/home']">Voltar</button>
</div>
